<section class="hero is-fullheight">
  <ngx-particles id="tsparticles" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)"></ngx-particles>
  <div class="hero-body container">
    <div>
      <h1 class="title is-size-1">Cody Potter</h1>
      <h2 class="subtitle is-size-3">
        Senior Full Stack Engineer | Team Spark <a
          href="https://www.gearboxsoftware.com/"
          target="_blank"
        >&#64;gearbox</a> <br>
      </h2>
      <nav class="nav-items with-headroom">
        <a
          class="box nav-chiclet"
          id="github"
          href="https://github.com/codypotter"
          target="_blank"
        >
          <p><fa-icon [icon]="faGithub"></fa-icon>&nbsp;<strong>GitHub</strong></p>
          <p class="detail">I make stuff</p>
        </a>
        <a
          class="box nav-chiclet"
          id="lofi-code"
          href="https://www.loficode.com"
          target="_blank"
        >
          <p><em>lofi<strong>code</strong></em></p>
          <p class="detail">I have opinions</p>
        </a>
        <a
          class="box nav-chiclet"
          id="linkedin"
          href="https://www.linkedin.com/in/cody-potter-a4b0b7106/"
          target="_blank"
        >
          <p><fa-icon [icon]="faLinkedin"></fa-icon>&nbsp;LinkedIn</p>
          <p class="detail">I'm a professional</p>
        </a>
        <a
          class="box nav-chiclet"
          id="youtube"
          href="https://www.youtube.com/channel/UCsPXgrtO5bTfdVdNLLB_Erw"
          target="_blank"
        >
          <p><fa-icon [icon]="faYoutube"></fa-icon>&nbsp;YouTube</p>
          <p class="detail">I teach programming</p>
        </a>
      </nav>
      <h2 class="subtitle is-size-3 with-headroom"><a href="mailto:me@codypotter.com">me&#64;codypotter.com</a></h2>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>The Landing Page</strong> by <a href="https://github.com/codypotter">Cody Potter</a>.
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
      website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>